@import "../base/variables";
@import "../base/generales";
@import "../base/media";

/*-------------CONTACTO------------*/
.contacto__contenedor {
    background-color: #3D393B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 200px;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "contacto contacto"
        "footer footer";

    .main__contacto {
        grid-area: contacto;
        background-image: url(../img/contacto.png);
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .hero-page {
            h1 {
                color: #4AD295;
                margin-top: 20px;
                font-size: 70px;
                font-weight: 700;
                text-align: center;
            }
        }

        .hero-page2 {
            max-width: 1200px;
            margin: auto auto;
            padding: 10px;

            .wrap-two-column {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 85%;
                height: 85%;
                margin: auto;
                text-align: center;

                .column-half {
                    h2 {
                        color: white;
                        font-size: 55px;
                    }

                    p {
                        color: white;
                        width: 50%;
                        margin: auto;
                        font-size: 18px;
                    }
                }
            }

            .form {
                width: 50%;

                .formulario {
                    display: flex;
                    flex-flow: column;
                    textarea {
                        margin: .5rem 0;
                        padding: .5rem .2rem;
                        border-bottom: 3px solid #4AD295;
                    }

                    input {
                        margin: .5rem 0;
                        padding: .5rem .2rem;
                        border-bottom: 3px solid #4AD295;
                    }

                    button {
                        width: fit-content;
                        border: none;
                        width: 100%;
                        padding: .5rem 1rem;
                        background-color: #4AD295;
                        color: #fff;
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .wtp {
            position: fixed;
            bottom: 1%;
            right: 0.5%;
            transition: 2s ease;
        }
    }
}