@import "../base/variables";
@import "../base/generales";

/*------------FOOTER------------*/
.footer {
    background: rgb(61,57,59);
background: linear-gradient(0deg, rgba(61,57,59,0.8995973389355743) 12%, rgba(74, 210, 149, 0.342) 100%);
    grid-area: footer;
    @include flex (flex, center, center, column);
    width: 100%;
    height: auto;
    
    .footer__redes {
        @include flex (flex, space-around, center, row);

        img {
            width: 50px;
            height: 50px;
            margin: 5px;
            transition: 1s ease;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    .footer__fin {
        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 1rem;
                list-style-type: none;
                font-size: 15px;
                a {
                    color: $color-terciario;
                    text-decoration: none;
                    transition: 1.2s;
                    &:hover{
                        color: $color-primario;
                        text-shadow: #4AD295 0 1px 30px;
                    }
                }
            }
        }
    }

}