@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
.wtp {
    position: fixed;
    bottom: 1%;
    right: 0.5%;
    transition: 2s ease;
}